
.btn-add-task:hover {
  background-color: #0069d9; /* Custom hover background color */
  border-color: #0062cc; /* Custom hover border color */
}

.dashboard-animation {
  opacity: 0;
  animation: fadeInAnimation 1s ease-in-out forwards;
  color: #6c757d;
  margin-bottom: 20px; 
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}