/* ProjectList.css */

.table th,
.table td {
  vertical-align: middle;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 123, 255, 0.05);
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6 !important;
}

.table-hover tbody tr:hover {
  background-color: #cce5ff;
}

.pagination {
  justify-content: center;
}

/* .pagination .page-item .page-link {
  color: #007bff;
  border-color: #007bff;
} */

.pagination .page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.pagination .page-link:hover {
  background-color: #0056b3;
  border-color: #0056b3;
  color: #fff;
}

/* CustomButtonStyles.css */

.custom-primary-button {
  background-color: #007bff; /* Custom primary button background color */
  color: #fff; /* Custom primary button text color */
  border-color: #007bff; /* Custom primary button border color */
}

.custom-primary-button:hover {
  background-color: #0056b3; /* Custom primary button hover background color */
  border-color: #0056b3; /* Custom primary button hover border color */
  color: #fff; /* Custom primary button hover text color */
}
